@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "bootstrap-icons/font/bootstrap-icons";

@import "tailwindcss";

html {
  font-size: 11px;
  min-height: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

body * {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background:  #f9f9fc
}

.tabla-sensores .p-datatable-tbody > tr > td {
  white-space: nowrap;      /* Evita salto de línea */
  overflow: hidden;         /* Oculta texto que sobrepasa el ancho */
  text-overflow: ellipsis;  /* Agrega "..." al final del texto */
}

.espacio-boton .p-button .p-button-label {
  font-weight: 200 !important;
}

/* === Tabla - configuracion === */
.p-sortable-column-icon {
  display: none;
}

 .p-datatable-thead th {
  color: #8a8a8a;
  font-weight: 400;
}

/* === Tabla Sensores === */
.tabla-sensores .p-datatable-tbody tr td:nth-child(1),
.tabla-sensores .p-datatable-tbody tr td:nth-child(2),
.tabla-sensores .p-datatable-tbody tr td:nth-child(5),
.tabla-sensores .p-datatable-tbody tr td:nth-child(7),
.tabla-sensores .p-datatable-tbody tr td:nth-child(8), 
.tabla-sensores .p-datatable-tbody tr td:nth-child(9) {
  color: #000000;
  font-weight: 500;
}

.tabla-sensores .p-datatable-tbody tr td:nth-child(3),
.tabla-sensores .p-datatable-tbody tr td:nth-child(4),
.tabla-sensores .p-datatable-tbody tr td:nth-child(6){
  color: #8a8a8a;
  font-weight: 400;
}

/* Tabla dashboard */
.tabla-dashboard .p-datatable-tbody tr td:nth-child(1), 
.tabla-dashboard .p-datatable-tbody tr td:nth-child(2) {
  color: #000000;
  font-weight: 500;
}
.tabla-dashboard .p-datatable-tbody tr td:nth-child(3),
.tabla-dashboard .p-datatable-tbody tr td:nth-child(5) {
  color: #8a8a8a;
  font-weight: 400;
}


/* === Tabla Lecturas === */
.tabla-lecturas .p-datatable-tbody tr td:nth-child(2),
.tabla-lecturas .p-datatable-tbody tr td:nth-child(4) {
  color: #000000;
  font-weight: 500;
}
.tabla-lecturas .p-datatable-tbody tr td:nth-child(1),
.tabla-lecturas .p-datatable-tbody tr td:nth-child(3),
.tabla-lecturas .p-datatable-tbody tr td:nth-child(5) {
  color: #8a8a8a;
  font-weight: 400;
}

/* === Tabla Promedios === */
.tabla-promedios .p-datatable-tbody tr td:nth-child(1),
.tabla-promedios .p-datatable-tbody tr td:nth-child(3),
.tabla-promedios .p-datatable-tbody tr td:nth-child(4),
.tabla-promedios .p-datatable-tbody tr td:nth-child(5),
.tabla-promedios .p-datatable-tbody tr td:nth-child(6),
.tabla-promedios .p-datatable-tbody tr td:nth-child(7),
.tabla-promedios .p-datatable-tbody tr td:nth-child(8) {
  color: #000000;
  font-weight: 500;
}

.tabla-promedios .p-datatable-tbody tr td:nth-child(2) {
  color: #8a8a8a;
  font-weight: 400;
}
